<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>370043715296-5nm9ub2bfinnobahrc4c4llkhfbc3f9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370043715296-5nm9ub2bfinnobahrc4c4llkhfbc3f9h</string>
	<key>API_KEY</key>
	<string>AIzaSyBrwdbfEfVlBiQlEtqzz1b_6g78g-okvjU</string>
	<key>GCM_SENDER_ID</key>
	<string>370043715296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newz.newz</string>
	<key>PROJECT_ID</key>
	<string>newmoa-newz</string>
	<key>STORAGE_BUCKET</key>
	<string>newmoa-newz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370043715296:ios:1434c4d932456aa1285a85</string>
</dict>
</plist>